.section{
    padding: 8rem 0;
    display: flex;
    justify-content: space-between;
    padding-left: 9rem;
    overflow: hidden;
    @include tablet{
        padding: 5rem 0 5rem 3rem;
        
    }
    @include mobile{
        flex-direction: column-reverse;
        padding: 3rem 0;
    }
    .image-section{
        @include tablet{
            margin-right: -11rem;
        }
        
        img{ 
            width: 120%;
            margin-left: 4rem;
            @include xlarge{
            width: 140%;
            margin-right: -16.5rem;
            }
            @include tablet{
                width: 40rem;
            }
            
        }
    }
    .left-section{
        font-family: 'Barlow Condensed', sans-serif;
        @include mobile{
            padding: 5rem 2rem;
        }
    }
    .top-section{
        
        display: flex;
        span{
            margin-right: 1rem;
            background-color: $very-dark-blue;
            color: $light-grayish-blue;
            padding: 0.4rem ;
            border-radius: 50px;
            @include mobile{
                padding: 0.3rem;
            }
        }
        .dashboard{
            letter-spacing: 5px;
            margin-top: .4rem;
            color: $grayish-blue;
            @include mobile{
                font-size: 14px;
            }
        }
    }
    .section-header{
        margin-top: 1rem;
        line-height: 1;
        color: $very-dark-blue;
        font-size: 2.5rem;
        font-weight: bold;
        @include xlarge{
            width: 75%;
            font-size: 3.5rem;
        }
    }
    .section-text{
        color: $dark-grayish-blue;
        margin-top: 2rem;
        line-height: 1.2;
        font-size: 1.5625rem;
        @include xlarge{
            width: 50%;
            font-size: 1.375rem;
            
        }
    
    }

    .section-bottom{
        margin-top: 5rem;
        text-transform: uppercase;
        .btn{
            color: $light-grayish-blue;
            background: $red;
            padding: 1rem;
            @include mobile{
                font-size: 11px;
                padding: 0.7rem;
            }
            &:hover{
                  opacity: 0.7;
            }
        }
        span{
            margin-left: 2rem;
            color: $grayish-blue;
            letter-spacing: 3px;
            @include mobile{
                font-size: 11px;

            }
            @include tablet{
                display: block;
                margin:1rem 0;
                
            }
        }
    }
}